# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
ENV/
env/

# =========================
# MkDocs
# =========================
site/
.cache/

# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride

# =========================
# Misc
# =========================
*.log
.tmp/
.temp/
